@font-face {
    font-family: UbuntuMedium;
    src: url(../UbuntuFonts/Ubuntu-M.ttf);
}
@font-face {
    font-family: UbuntuRegular;
    src: url(../UbuntuFonts/Ubuntu-R.ttf);
}
@font-face {
    font-family: OpenSansSemiBold;
    src: url(../OpenSansFonts/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: OpenSansRegular;
    src: url(../OpenSansFonts/OpenSans-Regular.ttf);
}
header{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	font-family: UbuntuMedium;
	border-bottom: 2px solid grey;
}
h2{
	font-family: UbuntuRegular;
	font-size: 32px;
}
h3, h4, label, li, .addui-radios-label, button{
	font-family: OpenSansSemiBold;
	font-size: 20px;
}
p{
	font-family: OpenSansRegular;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6, p, li, label, div, button{
	-webkit-font-smoothing: antialiased;   
}
.paddingControl{
	padding: 40px 20px 0px 20px;
}
#firstPage, 
.secondPageSection, 
.thirdPageSection, 
.fourthPageSection, 
.fithPageSection{
	height: 100vh;
	overflow: scroll;
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	box-shadow: -1px 0px 15px 1px black;
	position: relative;
}
.fp-tableCell{
	display: inline;
}